<div class="jumbotron fadeIn fast text-center">
    <h1 class="display-4">Heroes App</h1>
    <p class="lead">Esta es una aplicación de heroes!</p>
    <hr class="my-4">
    <div class="row">
        <div class="md col-6">
            <a [routerLink]="['/heroes']" class="alert alert-info text-center btn btn-outline-info btn-block ">Heroes</a>
        </div>
        <div class="md col-6 ">
            <a [routerLink]="[ '/about'] " class="alert alert-info text-center btn btn-outline-info btn-block ">Sobre la aplicación</a>
        </div>
    </div>
</div>